@import '~blocks/migration/theme';

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: $main-colour;
  /* The width of your bars */
  stroke-width: 20px;
}

  .ct-series-a .ct-area{
    fill:$main-colour;
  }
  .ct-series-a .ct-line, .ct-series-a .ct-point{
    stroke:$main-colour;

  }
