@import '~blocks/migration/theme.scss';

.Chart {
  height: 300px;

  .no-data {
    display: none;
    background-color: $green;
    color: white;
    height: 300px;
    font-size: 18px;
    padding: 25px;
  }

  .chart-container {
    height: 300px;
  }
}

.chart--wrapper {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  flex: 1;
  margin-right: 15px;

  h5 {
    font-weight: bold;
  }
}

.escaVisualizationPreview {
  flex: 1 1 45%;
  margin: 10px;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-header h5 {
    margin-bottom: 0px;
  }


  .sourceDistribution {
    cursor: pointer;
  }
}
