.escoMap {
    height: 280px;
    margin: auto;
}

.escoPosition {
    margin-bottom: 6px;
}

.escoPosition__label {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 5px;
    color: black;
    font-size: 14px;
    display: inline-block;

    cursor: pointer;
}

.escoPosition__value {
    display: inline-block;
    cursor: pointer;
}

input.escoPosition__value {
    width: 40px;
    cursor: text;
}

.escoPosition__detect {
    margin-top: -5px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.rdformsPresenter .escoPosition__label, .rdformsPresenter .escoPosition__value {
    cursor: initial;
}

.escoPosition__globe {
    vertical-align: middle;
    margin-bottom: 2px;
}

.escoMap .region {
    display: inline-block;
    opacity: 0.7;
    width: 24px;
    height: 24px;

    cursor: pointer;
}

.escoMap .region.active {
    opacity: 1;
}

.escoMap .marker {
    display: inline-block;
    opacity: 0.7;
    width: 20px;
    height: 26px;
    margin-right: 8px;

    cursor: pointer;
}

.escoMap .marker.active {
    opacity: 1;
}

.escoRDForms .form-group.selectizeException {
    min-width: 250px !important;
}

.escoRDForms .rdformsFieldControl {
    display: none !important;
}
