@import '~blocks/migration/theme.scss';

.escoList .card {
    background-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.escoList .card-header {
    background-color: inherit !important;
    border:0;
}

.sidebarMode .escoList {
    margin-left: 15px;
}

/* Never horizontal scrollbar, it is sometimes there causing strange behaviour
   But adding it causes other problems, like dropdowns being hidden.
   So, deeper investigation needed before it can be added again.
.entryList {
    overflow-x: hidden;
}*/

.btn--reverse{
    margin:0;
    vertical-align: top;
}

.badge, .badge-primary {
  background-color: $main-colour;
}

.entryList {
    overflow-y: visible;
    height: 100%;
    padding-bottom: 40px;
}

.entryRow {
    display: flex;
    justify-content: space-between;
}
.flex-wrapper {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-wrapper + div {
  display: flex;
}
.entryName + div {
  display: flex;
}
.entryRow__grid {
  display: -ms-grid;
  -ms-grid-columns: 0.5fr 2fr 0.5fr 0.2fr 0.8fr;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 0.2fr 0.8fr;
}

.escoList div.entryList .entryRow__grid:hover {
    background-color: #FFF;
    cursor: pointer;
}

.escoList div.entryList .entryRow__grid:hover button {
    font-weight: bold;
    color: $main-colour-hover;
}
.escoList div.entryList .entryRow__grid:focus button {
    font-weight: bold;
    color: $main-colour-hover;
}

.entryList .entryRow__grid:hover .entryControls button {
    visibility: visible;
}
.entryList .entryRow__grid .entryControls button:focus {
    visibility: visible;
}

.escoList {
    // height: 100%;
    padding-bottom: 40px;
}

.escoList .entryList > div:nth-child(odd) {
    background-color: transparent;
}


.escoList .entryList > .cardList-body:nth-child(even):not(:hover) {
    background-color:transparent;
}
.escoList .entryList > .cardList-body:hover{
    background-color: white;
}

.escoList .entryList .entryRow {
    padding: 0;
    border: 0;
    background-color:white;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.3);
}

.escoList .table > tbody + tbody {
    border-top-width: 1px;
}

.entryList > .card > .card-header {
    font-size: 22px;
}

.entryList .entryName>a,
.entryList .entryName>span {
    font-size: 14px;
    word-break: break-all;
    padding-right: 10px;
    margin-left: 10px;
}

.entryList .entryName>a:hover{
    color:#333;
}



.entryList.datasets .entryControls.datasetControls button.btn {
    padding: 10px 12px;
}

.entryList .entryControls button {
    padding: 10px 20px;
    margin: 10px
}

.entryList .entryRow:hover .entryControls button, .entryList .entryRow .entryControls button:hover,.entryList  .entryControls button:focus {
    visibility: visible;
}


.entryList .entryRowCol1,
.entryList .col1hidden > .entryName {
    padding-left: 15px;
}

.entryList .commentCol > span {
    float: right;
}

.entryList .col0hidden > div > .entryRowCol0,
.entryList .col1hidden > div > .entryRowCol1,
.entryList .col3hidden > div > .entryRowCol3 {
    display: none;
}

.entryList.escoMassOperations .entryRow .entryRowCol0 {
    display: block;
}




/* Former entryModificationDate*/
.entryList .entryRowCol0 {
    width: 40px;
    text-align: center;
    padding-left: 15px;
}

.entryList .entryRowCol1 {
    margin-right: 15px;
    width: 50px;
    text-align: center;
}
.escaCandidateRow .entryRowCol1{
  width: auto;
}

.entryList .entryRowCol3 {
    width: 145px;
    text-align: right;
    color: #333;
}

.entryList .vmiddle {
    align-items: center;
    display: flex;
}

.entryList .vmiddle button {
    margin-left: 5px;
}

.entryList .listButtons {
    padding: 0;
}

.entryList .listButtons button {
    margin-left: 10px;
}

.entryList .card-header {
    padding-top: 0;
}

.entryList .card-header .btn.btn-raised.btn-secondary {
    background-color: #333;
}

.entryList .card-header .btn.btn-raised.btn-secondary {
    background-color: #333;
}

.entryList .card-header .btn.btn-raised.btn-secondary:hover {
    background-color: rgba(51, 51, 51, 0.8);
}

.entryList .card-header .btn.btn-raised.btn-secondary,
.entryList .card-header .btn.btn-raised.btn-success,
.entryList .card-header .btn.btn-raised.btn-secondary:hover,
.entryList .card-header .btn.btn-raised.btn-success:hover {
    color: rgba(255, 255, 255, 0.95);
}

.entryList  > div > div > div.entryControls {
    width: 1px;
    text-align: right;
}

.entryList  > div > div > div.entryControls > * {
    text-align: left;
}

.entryList .entryControls button {
    min-height: 33px;
}

.listInDialog {
    margin: 0px 15px;
}

.popover-title {
    font-size: 14px;
    font-weight: 700;
}

.popover-body {
    font-size: 14px;
}

.entryPagination {
  padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.multiplePages>.entryPagination {
    display: block;
}

.entryPagination .pagination {
    margin: 10px 5px;
}

.searchBlock {
    display: none;
    padding-top: 10px;
}

.searchBlockInner {
    margin-bottom: 7px;
}

.searchVisible .searchBlock {
    display: block;
}

.listSortLabel {
    font-size: 12px;
        .form-check-input{
            visibility: hidden;
    }
}


.newlyCreated > tr > td {
    background-color: yellow;
}

.selectedRow {
    background-color: lightblue!important;
}

.expandButton {
    vertical-align: top;
    margin-left: -10px;
}

.expandButton:focus {
    outline: 0px;
}

.escoList div.entryList .entryRow:hover {
    background-color: #FFF;
}
.escoList div.entryList .clickableRow>.entryRow:hover {
    background-color: #FFF;
    cursor: pointer;
}

.escoList div.entryList .entryRow:hover button {
    font-weight: bold;
    color: $main-colour-hover;
}

.entryList .visibilityControl.disabled i {
    color: #d3d3d3;
    cursor: not-allowed;
}

.entryList .visibilityControl {
    margin-right: 15px;
    width: 65px;
}

.entryList .visibilityControl .fas {
    font-size: 28px;
    cursor: pointer;
}
.entryList .entryRowCol1 .fas {
    color:$main-colour;
}
.entryList .visibilityControl .fa-toggle-on {
    color: #5cb85c;
    padding-top: 0.5px;
}

.entryList .visibilityControl .fa-toggle-on.fa-rotate-180 {
    color: #d9534f
}


.stopSign {
    margin: 20px 40px;
    text-align: center;
    font-size: 18px;
}

.rowOneEntryList .twitter-typeahead {
    width: 100%;
    margin-bottom: 7px;
}

.warningCol .popover {
  background-color:  $main-colour !important;
    z-index: 1040;
}

.searchButton {
    min-height: 34px;
}

.listSortBlock {
    margin-top: 42px;
}
.selectize-input .item{
  padding-right: 20px !important;
}
.esco__resultSize {
    font-size: small;
    padding: 0px 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.headerinfo {
    background-color: lightgray!important;
}


.searchBlockInner.form-group {
    margin: inherit;
}

.entryList .lowerBlock {
    min-height: 54px;
    font-size: 14px;
    padding-right: 0;
    justify-content: space-between;
}

.entryList .lowerBlock .form-control {
    height: 33px;
}

.entryList .lowerBlock label {
    font-size: 12px;
}

.entryList .table > tbody + tbody {
    border-top: none;
}

.escoList--Help {
    margin-top: 1px;
}

.escoList__headerContainer {
    //bmd hack
    padding-left: 0;
    .escoList__massOperations{
        display: flex;
        align-items: center;
    }
    .btn-raised{
        margin-top: 0;
        margin-left: 20px;
    }
}

.escoList__headerContainer .form-group {
    padding-bottom: 0px;
    margin: 0;
}

.escoList__headerContainer .twitter-typeahead .form-group {
    padding-bottom: 7px;
    margin: 8px 0 0 0;
}
 .entryRow .entryRowCol0{
  display: none;
}
 .eswoListAndContentView__list .entryRowCol3{
   width: auto;
 }
.termsCollection .entryRow .entryRowCol1{
  display: block;
}
/* .termsList .entryName{
  display: block;
} */
.escoList__lowerBlockContainer .form-check-input .checkboxLabel {
    vertical-align: text-bottom;
    margin-left: 4px;
    color: #333;
}


/* @media (max-width: 720px) {
  .entryRow__grid{
    grid-template-columns: 200px 90px 30px 100px;
  }
} */

@media (max-width: 720px) {
  /* .entryRow__grid{
    grid-template-columns:150px 80px 0px 100px ;
  } */


.entryList .entryRowCol3 {
  width: 79px;
}
    .esco__resultSize {
        display: none;
    }

    .escoList__sortBy {
        display: none;
    }

    .entryList .lowerBlock {
        padding-top: 10px;
    }

    .escoList__buttonLabel {
        display: none;
    }

  .entryRow {
    flex-wrap: wrap;
  }
  .flex-wrapper {
    margin-top: 15px;
  }
    .entryList  .entryControls button {
        visibility: visible;
    }

}


.entryList .entryRow
.dropdown-backdrop{
background-color: transparent;
}

.escoList .entryList .entryListRow .listRowSurface {
    transition: background-color 2.5s ease;
    background-color: white;
}

.escoList .entryList .entryListRow.newRow .listRowSurface {
    background-color: yellow;
}

.escoList__sortBy{
    input[type="radio"]{
        visibility:hidden;
    }
}
