/* controls*/
.ol-control.ol-unselectable {
    padding: 2px;
}

.ol-control button {
    min-width: 24px;
    min-height: 24px;
}

/* Layerswitcher */
.layer-switcher li input {
    margin-top: 4px;
    margin-left: -8px;
}

.layer-switcher .panel>ul {
    max-height: 250px;
}

.entryscape .layer-switcher button {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='LayersIcon' version='1.1' id='svg826' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs830' /%3E%3Cpath d='m11.99 18.54-7.37-5.73L3 14.07l9 7 9-7-1.63-1.27-7.38 5.74zM12 16l7.36-5.73L21 9l-9-7-9 7 1.63 1.27L12 16z' id='path824' style='fill:%23666666;fill-opacity:1' /%3E%3C/svg%3E%0A");
    background-position: initial;
}

.ol-control.layer-switcher {
    top: 0.5em;
}

/*Legend*/
.esbLayerLegend__root {
    bottom: 0.5em;
    left: 0.5em;
    max-width: 40%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.esbLayerLegend__root.expanded {
    width: 40%;
}

.esbLayerLegend__expandable {
    display: none;
    width: 100%;
    flex-grow: 1;
    padding: .2em;
    overflow-y: scroll;
    background-color: #ffffff;
}

.expanded .esbLayerLegend__expandable {
    display: block;
}

.esbLayerLegend__root button.esbLayerLegend__button {
    width: auto;
    height: auto;
    line-height: 1.05;
    padding: .2em;
}

.esbLayerLegend__button span {
    margin-right: .7em;
}
p.esbLayerLegend__title {
    margin-top: .5em;
    margin-bottom: .1em;
    word-break: break-word;
    max-width: 96%;
}
img.esbLayerLegend__image {
    width: auto;
    max-width: 96%;
}
div.alert.esbLayerLegend__alert {
    padding: 4px;
    margin: 10px 0;
}

/*Popover*/
.esbMapPopover table {
    table-layout: fixed;
    width: 260px;
}

.esbMapPopover td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Scale line*/
.olEsbScaleLine.ol-scale-line {
    padding: 3px;
    border-radius: 0;
    position: relative;
    bottom: unset;
    left: unset;
}

/*Attribution*/
.olEsbAttribution.ol-attribution {
    position: relative;
    max-width: 100%;
}

/*Control layer*/
.olEsbControls--absolute {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    max-width: 70%;
}
