/* -- Start slick conflicts fixes -- */
.entryscape .slick-prev, .entryscape .slick-next {
    font-size: 0px;
    line-height: 0px;
    color: transparent;
}
.entryscape .slick-prev:before, .entryscape .slick-next:before {
    color: black;
}
/* --- End of slick conflicts -- */

/* CSS of slider block */
.slider-nav .slick-track {
    height: 150px;
}

.slider-caption {
    line-height: initial;
    text-align: left;
}

.entryscape * {
    box-sizing: border-box;
}

/* Fix for popovers in wordpress. Override gutenberg-css for class "fade" that is used by bootstrap popovers */
.entryscape .fade {
    opacity: unset;
}

/* Override lighbox class from CMS environment (seems to stem from some bootstrap-based wordpress theme) */
body .lightbox {
    display: inherit;
    opacity: inherit;
    visibility: inherit;
}

/*-- Ugly css from commons --*/

.entryscape .entryList,
.entryscape .escoList {
    padding-bottom: 0px;
}

.entryscape .flex-wrapper,
.entryscape .entryName.vmiddle,
.entryscape .entryName.vmiddle>span {
    width: 100%
}

.screenreader__span{
    display: none;
}

.entryscape .panel {
    border-width: 0px;
}

/*--- Chartist make long names on x-axis break rather than overwrite each other --- */

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    word-break: break-all;
}

/*--- bootstrap-table.min.css add borders on tables in the wrong place when overflow-y ---*/
.entryscape .table-bordered {
    border: none;
}

.entryscape .fixed-table-body {
    border: 2px solid #dee2e6;
}

/*---Legend specific css below ---*/

.ct-chart-donut .ct-label, .ct-chart-pie .ct-label {
    font-size: large;
}

.ct-label {
    font-size: large;
    font-size: 16px;
    color: black;
}

.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
    margin-top: 16px;
    overflow-y: auto;
    height: 100%;
}
.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
    margin-top: 4px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend.ct-legend-inside li{
    display: block;
    margin: 0;
    text-align: left;
}
.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}
.ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
    background-color: #d17905;
    border-color: #d17905;
}
.ct-legend .ct-series-4:before {
    background-color: #453d3f;
    border-color: #453d3f;
}

.ct-legend .ct-series-5:before {
    background-color: #59922b;
    border-color: #59922b;
}

.ct-legend .ct-series-6:before {
    background-color: #0544d3;
    border-color: #0544d3;
}

.ct-legend .ct-series-7:before {
    background-color: #6b0392;
    border-color: #6b0392;
}

.ct-legend .ct-series-8:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}

.ct-legend .ct-series-9:before {
    background-color: #dda458;
    border-color: #dda458;
}

.ct-legend .ct-series-10:before {
    background-color: #eacf7d;
    border-color: #eacf7d;
}

.ct-legend .ct-series-11:before {
    background-color: #86797d;
    border-color: #86797d;
}

.ct-legend .ct-series-12:before {
    background-color: #b2c326;
    border-color: #b2c326;
}



/* @scazan: BOOTSTRAP FIXES FOR HIGHER SELECTORS: Bootstrap 3.3.7 */
/* TODO @scazan: This needs to be automated as it is currently manually maintained and extracted from bootstrap.css */

/* html { */
.entryscape {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* html input[type="button"], */
/* input[type="reset"], */
/* input[type="submit"] { */
.entryscape input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* html input[disabled] { */
.entryscape input[disabled] {
  cursor: default;
}

/* -- */
.selectize-dropdown .esbSearch {
    color: black;
    margin: 5px 0px;
    padding: 0px 1px;
    border: 1px solid white;
}
.selectize-dropdown .esbSearch {
    border-color: darkslategrey;
}
.selectize-dropdown *[data-selectable] {
    padding: 0px 12px;
    border: 1px solid white;
}
.selectize-dropdown *[data-selectable].active {
    border-color: darkslategrey;
}


.entryscape .selectize-control.single .selectize-input:after,
.entryscape .selectize-control.multi .selectize-input:after,
.entryscape .selectize-control.single .selectize-input.input-active:after,
.entryscape .selectize-control.multi .selectize-input.input-active:after {
    cursor: pointer;
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
}


/* -- conflict in Linköping, with their theme and https://use.fontawesome.com/releases/v5.5.0/css/v4-shims.css --*/
.entryscape .fa.fa-external-link:before {
    content: "\F08E";
}
.entryscape .form-group.searchBlockInner {
    padding: 0px;
    border: 0px;
}
body .entryscape .panel-heading .fa {
    color: rgb(51, 51, 51)!important;
}

.entryscape .entryList>.card {
    border: 0px;
}

.entryscape .entryList .card-header {
    padding: 0.75rem 1rem 0.75rem 0px;
}

.entryscape .entryList .lowerBlock .form-control {
    height: auto;
}

/* Break labels if they are too long in RDForms presentation form */
.compact.rdformsPresenter .rdformsTopLevel > .rdformsLabel {
    word-break: break-word;
}

/* Set display block on surrounding node to rdforms just to allow for correct size detection */
.esbRDFormsWrapper {
    display: block;
}

/* Tweaks on RDForms presentation */
.entryscape .compact .rdformsTopLevel.rdformsRow.notCompact>.rdformsFields>.rdformsGroup {
    margin: 2px 18px;
    padding: 10px 2px;
}
.entryscape .compact .rdformsRow.rdformsTopLevel .rdformsRow {
    padding: 0 0.7em;
}
.entryscape .rdformsPresenter .rdformsLabel {
    margin-bottom: 5px;
}

.entryscape .rdformsLabel {
    font-weight: normal;
    display: block;
}

.rdformsPresenter .rdformsLabel {
    border-bottom: 1px solid #E6E6E6;
}

.compact .rdformsRow>.rdformsFields>div {
    padding-left: 10px;
}

.entryscape .rdformsField {
    margin-left: 0.6em;
    padding-right: 0.3em;
}
.entryscape .compact .rdformsTopLevel>.rdformsFields>.rdformsField {
    margin-left: 0.6em;
}

.entryscape .rdformsRow.rdformsTopLevel {
    padding-bottom: 0;
}

.rdformsPresenter .rdformsRow.rdformsTopLevel {
    width: 100%;
}

body .entryscape h2,
body .entryscape h3,
body .entryscape h4,
body .entryscape h5 {
margin-top: 20px;
}

body .entryscape .esbRowHead h2,
body .entryscape .esbRowHead h3,
body .entryscape .esbRowHead h4,
body .entryscape .esbRowHead h5 {
margin-top: 0px;
}

.entryscape .btn-link {
color: #005a9c;
}

.entryscape .btn-primary {
background-color: #005a9c;
border-color: #005a9c;
}

#entryscape_dialogs h3.popover-header,
.rdformsLabel h3.popover-header,
.rdformsField h3.popover-header,
.esbMapPopover h3.popover-header {
margin-top: 0;
}

.esbMapPopover .popover-body {
    max-height: 280px;
    overflow-y: auto;
    margin-bottom: 12px;
}

.esbMapPopover table {
    max-width: 100%;
}

@media screen and (min-width: 920px) {
    #entryscape_dialogs .rdformsRow.rdformsTopLevel {
        display: table;
    }
    #entryscape_dialogs .popover {
        max-width: 600px;
    }
}
